@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Parkinsans:wght@300..800&family=Tilt+Warp&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#app{
font-family: "Parkinsans", sans-serif;
position: relative;
}